{% extends "base.html" %}
{% load static %}
{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row container bg-secondary bg-gradient owned">
        <div class="row"><h2>Owned equipments:</h2></div>
        <div class="row">
            <div class="col container">
                <div class="row"><h3>Equipped:</h3></div>
                {% for monster in monsters %}
                <div class="row container">
                    <div class="row"><h5>{{ monster.name }}:</h5></div>
                    <div class="row container">
                        {% for equipment in equipments %}
                        {% if equipment.monster == monster %}
                            <div class="col-6">
                                <div class="card mb-3 equipmentCard equipped" equipment_id="{{ equipment.id }}">
                                    <div class="d-flex justify-content-start">
                                        <div class="equipment equipmentImage">
                                            <div class="img-fluid rounded-start equipment">{{ equipment.type.equipment_svg | safe }}</div>
                                        </div>
                                        <div class="equipmentCardBody">
                                            <p>{{ equipment.type.name }}</p>
                                            <p><em>Health:</em> +{{equipment.type.benefit_health}}</p>
                                            <p><em>Damage:</em> +{{equipment.type.benefit_damage}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>  
                </div>
                {% endfor %}
            </div>
            <div class="col container">
                <div class="row"><h3>Not equipped:</h3></div>
                <div class="row">
                {% for equipment in equipments %}
                    {% if equipment.unlocked and not equipment.monster  %}
                    <div class="col">
                        <div class="card mb-3 equipmentCard equipable" equipment_id="{{ equipment.id }}">
                            <div class="d-flex justify-content-start">
                                <div class="equipment equipmentImage">
                                    <div class="img-fluid rounded-start equipment">{{ equipment.type.equipment_svg | safe }}</div>
                                </div>
                                <div class="equipmentCardBody">
                                    <p>{{ equipment.type.name }}</p>
                                    <p><em>Health:</em> +{{equipment.type.benefit_health}}</p>
                                    <p><em>Damage:</em> +{{equipment.type.benefit_damage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="row"><h3>unlock:</h3></div>
        <div class="row">
            {% for equipment in equipments %}
            {% if not equipment.unlocked %}
            <div class="col">
                <div class="card mb-3 equipmentCard equipable" equipment_id="{{ equipment.id }}">
                    <div class="d-flex justify-content-start">
                        <div class="equipment equipmentImage">
                            <div class="img-fluid rounded-start equipment">{{ equipment.type.equipment_svg | safe }}</div>
                        </div>
                        <div class="equipmentCardBody">
                            <p>{{ equipment.type.name }}</p>
                            <p><em>Health:</em> +{{equipment.type.benefit_health}}</p>
                            <p><em>Damage:</em> +{{equipment.type.benefit_damage}}</p>
                        </div>
                    </div>
                    {{ equipment.progress }}/{{ equipment.type.distance_needed }}
                    {% if equipment.progress >= equipment.type.distance_needed %}
                    <a id="umlockButton" href="unlock/{{ equipment.id }}" class="btn
                        btn-danger">Unlock</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="row border">
        <h2>Not owned equipment:</h2>
        <ul>
            {% for equipment_type in equipment_types %}
            <li class="equipment"><a href="{% url 'equipment_create' equipment_type.id %}" >{{ equipment_type.equipment_svg | safe }}</a></li>
            {% endfor %}
        </ul>
    </div>  
</div>


<div class="modal fade" id="equipModal" tabindex="-1"
  aria-labelledby="equipModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="equipModalLabel">Equip Item?</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id='equipForm' method="post">
                <div class="modal-body" id="equipFormBody">
                    {{ equip_form | safe }}
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                    <button id="equipConfirm" type="submit" class="btn
                    btn-danger">Equip</button> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/equipment.js' %}"></script>
{% endblock %}