{% extends "base.html" %}
{% load static %}
{% block styles %}
{% endblock %}

{% block content %}
<div class="d-flex equip-container">
    <div class="equipped-equipments">
        <h1>Equipped</h1>
        <div class="equipped-to">
            {% for monster in monsters %}
            <div class="monster-equipped" style="background-color: {{ monster.color }}50;">
                <h3>{{ monster.name }}</h3>
                <div class="equipped-container">
                    {% for equipment in equipments %}
                    {% if equipment.monster == monster %}
                    <div class="equipment-display compact equipped" equipment_id="{{ equipment.id }}">
                        <div class="equipmentImage">{{ equipment.type.equipment_svg | safe }}</div>
                        <div class="equipment-text">
                            <h5>{{ equipment.type.name }}</h5>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="owned">
        <h1>Owned</h1>
        <div class="unlocking">
            <h3>Unlocking</h3>
            <div class="unlocking-equipments">
                {% for equipment in equipments %}
                {% if equipment.unlocked == False %}
                    <div class="equipment-display compact">
                        <div class="equipmentImage">{{ equipment.type.equipment_svg | safe }}</div>
                        <div class="equipment-text">
                            <h5>{{ equipment.type.name }}</h5>
                            <div class="distance"> {{ equipment.progress }}/{{ equipment.type.distance_needed }}</div>
                        </div>
                        {% if equipment.progress >= equipment.type.distance_needed %}
                        <div class="unlockButton">
                            <a href="unlock/{{ equipment.id }}" class="btn
                            btn-danger p-1">Unlock</a>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="owned-block">
            <h3>Unlocked</h3>
            <div class="owned-equipments">
                {% for equipment in equipments %}
                {% if equipment.monster == None and equipment.unlocked == True %}
                <div class="equipment-display equipable" equipment_id="{{ equipment.id }}">
                    <div class="equipmentImage">{{ equipment.type.equipment_svg | safe }}</div>
                    <div class="equipment-text">
                        <h5>{{ equipment.type.name }}</h5>
                        {% if equipment.type.category == 0 %}
                        <div class="health"> health: +{{ equipment.type.benefit_health }}</div>
                        {% elif equipment.type.category == 1 %}
                        <div class="damage"> damage: +{{ equipment.type.benefit_damage }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="available">
        <h1>Not owned</h1>
        <div class="available-equipments">
            {% for equipment_type in equipment_types %}
            <a href="{% url 'equipment_create' equipment_type.id %}" >
                <div class="equipment-display">
                    <div class="equipmentImage">{{ equipment_type.equipment_svg | safe }}</div>
                    <div class="equipment-text">
                        <h5>{{ equipment_type.name }}</h5>
                        {% if equipment_type.category == 0 %}
                        <div class="health"> health: +{{ equipment_type.benefit_health }}</div>
                        {% elif equipment_type.category == 1 %}
                        <div class="damage"> damage: +{{ equipment_type.benefit_damage }}</div>
                        {% endif %}
                        <div class="distance"> distance: {{ equipment_type.distance_needed }}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


<div class="modal fade" id="equipModal" tabindex="-1"
  aria-labelledby="equipModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="equipModalLabel">Equip Item?</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id='equipForm' method="post">
                <div class="modal-body" id="equipFormBody">
                    {{ equip_form | safe }}
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                    <button id="equipConfirm" type="submit" class="btn
                    btn-danger">Equip</button> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/equipment.js' %}"></script>
{% endblock %}