.login-register-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, -50%);
}

#strikeForm {
    background-color: aliceblue;
    box-shadow: 0px 10px 10px;
    top: 50%;
    left: 50%;
    width: 75vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#results {
    background-color: aliceblue;
    box-shadow: 0px 10px 10px;
    top: 50%;
    left: 50%;
    width: 75vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.monsterListing {
    width: 200px;
    height: 300px;
}