.login-register-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, -50%);
}

#strikeForm {
    background-color: aliceblue;
    box-shadow: 0px 10px 10px;
    top: 50%;
    left: 50%;
    width: 75vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#results {
    background-color: aliceblue;
    box-shadow: 0px 10px 10px;
    top: 50%;
    left: 50%;
    width: 75vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.monsterListing {
    width: 200px;
    height: 300px;
}

.monsterImage svg {
    height: 250px;
}

.equipment svg {
    height: 100px;
    width: 100px;
}

.equipmentImage {
    justify-self: start;
}

ul {
    list-style: none;
}

.owned {
    border-radius: 20px;
}

.equipmentCardBody {
    margin-left: 1rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.equipmentCardBody p {
    margin-bottom: 0;
}

.equipmentCard {
    background-color: rgba(255, 255, 255, 0.363);
    padding: 0;
    border-radius: 20px;
    width: 100px;
    max-height: 100px;
}

.equipmentCard p {
    opacity: 0;
}

.equipmentCard * {
    max-width: 100px;
}

.equipmentCard:hover {
    width: 240px;
    z-index: 1000;
}

.equipmentCard:hover p {
    opacity: 1;
}

.equipmentCard * {
    max-width: 240px;
}