{% extends "base.html" %}
{% load static %}
{% block styles %}
.{{ monster.name }} .monster-color {
    fill: {{ monster.color }}
}
.{{ enemy.name }} .monster-color {
    fill: {{ enemy.color }}
}
{% endblock %}

{% block content %}
<h1>Battleground</h1>
{% if turn == 'you' %}
<h2 turn="{{ turn }}" id="turnIndicator">Your turn</h2>
<h3>click the box to roll your damage</h3>
<div style="width: 100px; height: 100px;" class="border d-flex justify-content-center align-items-center" id="damageRoll" max_damage="{{ monster.damage }}">
    <h1 id="rollBox">{{ monster.damage }}</h1>
</div>
{% elif turn == 'enemy' %}
<h2 turn="{{ turn }}" id="turnIndicator">enemy's turn</h2>
<h3>rolling for damage</h3>
<div style="width: 100px; height: 100px;" class="border d-flex justify-content-center align-items-center" id="damageRoll" max_damage="{{ monster.damage }}">
    <h1 id="rollBox">{{ monster.damage }}</h1>
</div>
{% endif %}
<div class="d-flex justify-content-around">
    <div class="{{ monster.name }}">
        <h3>{{ monster.name }}</h3>
        
        <div >
            {{ monster.type.type_svg | safe }}
        </div>
        {% for equipment in equipped %}
            {{ equipment.type.equipment_svg | safe }}
        {% endfor %}
        <h3>health: {{ monster.health }}</h3>
        <h3>damage: {{ monster.damage }}</h3>
    </div>

    <div class="{{ enemy.name }}">
        <h3>{{ enemy.name }}</h3>
        
        {{ enemy.type.type_svg | safe }}
        {% for equipment in equipments %}
            {{ equipment.equipment_svg | safe }}
        {% endfor %}
        <h3>health: {{ enemy.health }}</h3>
        <h3>damage: {{ enemy.damage }}</h3>
    </div>
</div>
<form action="{% url 'strike' turn %}" method="post" class="d-none position-fixed justify-content-center align-items-center" id="strikeForm">
    <input type="hidden" name="equipments" value="{{ equipments }}">
    <input type="hidden" name="monster" value="{{ monster.id }}">
    <input type="hidden" name="enemy" value="{{ enemy.id }}">
    <input type="hidden" name="damage" value="" id="damagePost">
    <h3 id="strikeTitle"></h3>
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" id="strikeFormButton">Strike</button>
</form>
{% endblock %}

{% block extras %}
<script src="{% static 'js/battle.js' %}"></script>
{% endblock %}