{% extends "base.html" %}
{% load static %}
{% block styles %}
{% for monster in monsters %}
.{{ monster.name }} .monster-color {
    fill: {{ monster.color }}
}
{% endfor %}
{% endblock %}

{% block content %}
<div class="d-flex flex-wrap">
{% for monster in monsters %}
<div class="card m-3 {{ monster.name }}" style="width: 18rem;">
    <div class="monsterImage card-img-top p-1 d-flex justify-content-center align-items-center"> {{ monster.type.type_svg | safe }} </div>
    <div class="card-body">
        <h5 class="card-title">Monster is {{ monster.name }}</h5>
        <h6>Health: {{ monster.health }}</h6>
        <h6>Damage: {{monster.damage }}</h6>
        <div class="">
        {% for equipment in equipped %}
        {% if equipment.monster.id == monster.id %}
        <div class="card mb-3 equipmentCard">
            <div class="d-flex justify-content-start">
                <div class="equipment equipmentImage">
                    <div class="img-fluid rounded-start equipment">{{ equipment.type.equipment_svg | safe }}</div>
                </div>
                <div class="equipmentCardBody">
                    <p>{{ equipment.type.name }}</p>
                    <p><em>Health:</em> +{{equipment.type.benefit_health}}</p>
                    <p><em>Damage:</em> +{{equipment.type.benefit_damage}}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}