{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Run</title>
</head>
<body>
    {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="#">Monster</a></li>
                <li><a href="#">Run History</a></li>
                <li><a href="#">Fight</a></li>
                <li class="nav-item"><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </nav>
        <main>
        
            {% block content %}
            <!-- Content Goes here -->
            {% endblock %}
        </main>

    {% else %}
        <a href="{% url 'account_login' %}">Log In!</a>
        <a href="{% url 'account_signup' %}">Register!</a>
    {% endif %}
    
</body>
</html>