{% load static %}

{% url 'home' as home %}
{% url 'arena' as arena %}
{% url 'equipment' as equipment %}
{% url 'run_data' as run_data %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Monster Run</title>
</head>
<body>
    <style>
        {% block styles %}

        {% endblock %}
    </style>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="{% url 'home' %}" class="nav-item nav-link px-2">Monsters</a>
                    <a href="{% url 'create_monster' %}" class="nav-item nav-link px-2">Create new monster</a>
                    <a href="{% url 'equipment' %}" class="nav-item nav-link px-2">Equipment</a>
                    <a href="{% url 'run_data' %}" class="nav-item nav-link px-2">Run Data</a>
                    <a href="{% url 'arena' %}" class="nav-item nav-link px-2">Arena</a>
                    
                </div>
            </div>
            <a href="{% url 'account_logout' %}" class="btn btn-danger me-2">Log Out</a>
        </nav>
        <!-- <nav>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class=" px-2">Monsters</a></li>
                <li><a href="{% url 'create_monster' %}" class=" px-2">Create new monster</a></li>
                <li><a href="{% url 'equipment' %}" class=" px-2">Equipment</a></li>
                <li><a href="{% url 'run_data' %}" class=" px-2">Run Data</a></li>
                <li><a href="{% url 'arena' %}" class=" px-2">Arena</a></li>
            </ul>
        </nav> -->
    </header>

    <div class="container messages-container">
        <div class="message-block">
            {% for message in messages %}
            <div class="alert message-body {{ message.tags }} alert-dismissible
            fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock %}
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    {% block extras %}
    {% endblock %}

</body>
</html>